<h1 class="title">{{site.postmortem_title}}</h1>
<ul class="description" data-aos="fade-down">
    <li>
        <b>What went right in the development process?</b>
        <br>
        We maintained daily communication and hosted weekly meetings to keep members updated. Each team member branched off from develop and worked on different features and user stories to get more work done in less time. If one person faced an error or problem that they could not solve, everyone discussed it during the meeting and tried to solve it. We put manageable deadlines inside the iteration after each team meeting for the expected work to be done.
    </li>
    <br>
    <li>
        <b>What went wrong in the development process?</b>
        <br>
        The main thing we deeply struggled with was the database implementation. We initially implemented the database using HSQLDB. Unfortunately, we got outstanding errors that we failed to resolve. For iteration 3, we switched to an SQLite database.  Another thing we struggled with was conflicts between different team member's codes. Sometimes changes were made by multiple members to the same code/class, and once merged, we had many clashes to be resolved and had to ensure the code works as expected.
    </li>
    <br>
    <li>
        <b>What took the most time? The least? Any surprises?</b>
        <br>
        Initially, designing a new layout for a feature took more time since we had to research a lot. Eventually, it got easier as we created different types of activity layouts. We were also able to spend the extra time to make the application more appealing and enhance the user experience. During the last two iterations, connecting the database to work with our code took most of our time.
    </li>
    <br>
    <li>
        <b>How did the project change from your initial (iteration 0) vision or stories, or did it work out as predicted?</b>
        <br>
        We had to push back some features and user stories to the next iteration as we ran out of time to implement them. Our estimates in iteration 0 were too high. By the end of iteration 3, we got most of the high-priority features done but had to push the remaining unimplemented features and user stories to the 'Future' milestone. We changed some implementation and design ideas we initially planned to compensate with time and what was available on Android Studio. For example, we could not implement the courses as a flowchart illustration instead, we separated the courses into tables.
    </li>
</ul>