<h1 class="title">{{site.velocity_title}}</h1>
<p style="text-align:center;"><img src="assets\favicon\velocity.png" alt="Velocity Chart"></p>
<p class="description" data-aos="fade-down">{{site.velocity_description}}</p>
<ul class="description" data-aos="fade-down">
    <li><b>Iteration 0 - </b> Just documentation. We were able to get everything done as estimated.</li>
    <br>
    <li><b>Iteration 1 - </b> Huge learning curve and needed extra time to research on how to do different implementations.</li>
    <br>
    <li><b>Iteration 2 - </b> HSQLDB database crashed and had to invest more time fixing it.</li>
    <br>
    <li><b>Iteration 3 - </b> We were able to get the features done fast. We spent the extra time switching HSQLDB to SQLite.</li>
    <br>
</ul>