<h1 class="title">{{site.team_title}}</h1>
<p class="description" data-aos="fade-down">{{site.team1_description}}</p>
<ul class="description" data-aos="fade-down">
    <li>
        <a class="highlight-link" href="https://code.cs.umanitoba.ca/tranndt" target="_blank"
            rel="noreferrer">
            <font size ="+2">J</font> - Jason Tran aka Joyful Jason
        </a>
    </li>
    <br>
    <li>
        <a class="highlight-link" href="https://code.cs.umanitoba.ca/lapse0310" target="_blank"
            rel="noreferrer">
            <font size ="+2">A</font> - Aseespal Singh Sehgal aka Amazing Asees
        </a>
    </li>
    <br>
    <li>
        <a class="highlight-link" href="https://code.cs.umanitoba.ca/Manumi" target="_blank"
            rel="noreferrer">
            <font size ="+2">M</font> - Manumi Kahawalage aka Magnificient Manumi
        </a>
    </li>
    <br>
    <li>
        <a class="highlight-link" href="https://code.cs.umanitoba.ca/Sukhman322" target="_blank"
            rel="noreferrer">
            <font size ="+2">S</font> - Sukhmandeep Kaur aka Spectacular Sukhman
        </a>
    </li>
</ul>
<p class="description" data-aos="fade-down">{{site.team2_description}}</p>
<ul class="description" data-aos="fade-down">
    <li>Agile Software Development</li>
    <br>
    <li>Resolving Technical Debt</li>
    <br>
    <li>Unit, Integration and System Testing</li>
    <br>
    <li>Designing Activity Layouts</li>
    <br>
    <li>HSQLDB and SQLite</li>
    <br>
</ul>